*.iml
.gradle/*
/local.properties
.DS_Store
.idea/*
/captures
.externalNativeBuild
/build
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/apt/
build/generated/source/rs/
build/intermediates/annotations/
build/intermediates/bundles/debug/aidl/
build/intermediates/bundles/debug/assets/
build/intermediates/bundles/release/aidl/
build/intermediates/bundles/release/assets/
build/intermediates/bundles/release/jni/
build/intermediates/dependency-cache/
build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/assets/
build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/jni/
build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/libs/
build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/res/
build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/aidl/
build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/assets/
build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/jni/
build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/libs/
build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/res/
build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/aidl/
build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/assets/
build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/jni/
build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/libs/
build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/res/
build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/aidl/
build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/assets/
build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/jni/
build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/libs/
build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/res/
build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/assets/
build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/jni/
build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/libs/
build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/res/
build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/assets/
build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/libs/
build/intermediates/exploded-aar/com.android.support/support-v4/23.1.1/res/
build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/aidl/
build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/assets/
build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/jni/
build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/libs/
build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/res/
build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
build/intermediates/incremental/mergeDebugResources/aapt-temp/
build/intermediates/incremental/mergeReleaseResources/aapt-temp/
build/intermediates/incremental/packageDebugAndroidTest/
build/intermediates/incremental/packageDebugResources/aapt-temp/
build/intermediates/incremental/packageReleaseResources/aapt-temp/
build/intermediates/incremental/processDebugAndroidTestResources/
build/intermediates/incremental/processDebugResources/
build/intermediates/incremental/processReleaseResources/
build/intermediates/jniLibs/
build/intermediates/lint/
build/intermediates/manifest/tmp/
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/transforms/mergeJniLibs/
build/tmp/

