<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.jiangtao.support.ui">

  <!-- 表情云 -->
  <!-- 表情云 -->
  <application
      android:allowBackup="true"
      android:supportsRtl="true">
    <service
        android:name=".service.SupportService"
        android:enabled="true"
        android:priority="1000"
        android:process=":remote">
    </service>
    <service android:name=".service.XMPPService$InnerService"/>
    <service
        android:name=".service.XMPPService"
        android:enabled="true"
        android:priority="1000"/>
    <!-- 网络变化广播 -->
    <receiver
        android:name=".reciever.NetworkConnectChangedReceiver"
        android:enabled="true">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
        <action android:name="android.net.wifi.STATE_CHANGE"/>
      </intent-filter>
    </receiver>
    <!-- 开机启动广播 -->
    <receiver
        android:name=".reciever.BootBroadcastReceiver"
        android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>

        <category android:name="android.intent.category.HOME"/>
      </intent-filter>
    </receiver>
    <!-- 秒级检测 -->
    <receiver
        android:name=".reciever.TickBroadcastReceiver"
        android:enabled="true"
        android:exported="false">
    </receiver>

    <activity
        android:name="com.melink.bqmmsdk.ui.store.EmojiPackageList"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.melink.bqmmsdk.ui.store.EmojiDetail"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDetail"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSetting"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSort"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name="com.melink.bqmmsdk.ui.store.ServiceDeclaration"
        android:screenOrientation="portrait">
    </activity>
    <!--群组搜索页面-->
    <activity
        android:name=".activity.GroupSearchActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <!--邀请好友入群-->
  </application>

</manifest>